name: Build LaTeX documents

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build_latex:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0  # required for git diff

      - name: Fetch S3 Object Filenames
        run: DEBUG=1 .github/workflows/scripts/001_listS3Contents.sh > s3Objects.txt
        env:
          AWS_S3_BUCKET: ${{ secrets.AWS_S3_BUCKET }}
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}

      - name: Upload S3 object list # debug step to check how the s3 is doing
        uses: actions/upload-artifact@v4
        with:
          name: s3-objects      
          path: s3Objects.txt

      - name: List Latex Source Files
        run: DEBUG=1 .github/workflows/scripts/002_listLatexSourceFiles.sh "$GITHUB_WORKSPACE/latex" > latexSourceFiles.ndjson

      - name: Upload LaTeX source file list # debug step to check how the latex source listing is doing
        uses: actions/upload-artifact@v4
        with:
          name: latex-source-files
          path: latexSourceFiles.ndjson

      - name: Remove stale S3 objects
        run: DEBUG=1 .github/workflows/scripts/003_removeStaleS3Objects.sh s3Objects.txt latexSourceFiles.ndjson
        env:
          AWS_S3_BUCKET: ${{ secrets.AWS_S3_BUCKET }}
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}

      - name: Get LaTeX source files to compile
        run: DEBUG=1 .github/workflows/scripts/004_getSourceToCompile.sh s3Objects.txt latexSourceFiles.ndjson > latexFilesToCompile.txt

      - name: Upload LaTeX files to compile # debug step to check which latex files are selected for compilation
        uses: actions/upload-artifact@v4
        with:
          name: latex-files-to-compile
          path: latexFilesToCompile.txt

      - name: Read LaTeX files
        id: read-files
        run: |
          if [ ! -s latexFilesToCompile.txt ]; then
            echo "files=" >> $GITHUB_OUTPUT
          else
            files=$(sed 's|^|latex/|' latexFilesToCompile.txt)
            echo "files<<EOF" >> $GITHUB_OUTPUT
            echo "$files" >> $GITHUB_OUTPUT
            echo "EOF" >> $GITHUB_OUTPUT
          fi

      - name: Compile LaTeX files from list
        if: steps.read-files.outputs.files != ''
        uses: xu-cheng/latex-action@v4
        with:
          root_file: ${{ steps.read-files.outputs.files }}
          work_in_root_file_dir: true

      - name: Upload PDFs
        run: DEBUG=1 .github/workflows/scripts/005_uploadToS3.sh latexFilesToCompile.txt latexSourceFiles.ndjson s3Objects.txt
        env:
          AWS_S3_BUCKET: ${{ secrets.AWS_S3_BUCKET }}
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}