name: Build LaTeX documents

on:
  push:

jobs:
  build_latex:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0  # required for git diff

      - name: Get changed .tex files
        id: changed-tex
        run: |
          echo "FILES<<EOF" >> $GITHUB_OUTPUT
          git diff --name-only ${{ github.event.before }} ${{ github.sha }} \
            | grep '\.tex$' || true
          echo "EOF" >> $GITHUB_OUTPUT

      - name: Debug changed files output
        run: |
          echo "Raw output value: '${{ steps.changed-tex.outputs.FILES }}'"
          echo "Output length: ${#{{ steps.changed-tex.outputs.FILES }}}"

      - name: Compile changed LaTeX files
        if: steps.changed-tex.outputs.FILES != ''
        uses: xu-cheng/latex-action@v4
        with:
          root_file: |
            ${{ steps.changed-tex.outputs.FILES }}

      - name: Upload PDFs
        if: steps.changed-tex.outputs.FILES != ''
        uses: actions/upload-artifact@v5
        with:
          name: compiled-pdfs
          path: |
            **/*.pdf
